@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    margin: 0;
    background: #000;
  }

  #text {
    display: block;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
  
  }
  
  #link {
    color: yellowgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #info {
    display: block;
    text-align: center;
    background: rgba(0, 255, 13, 0.507);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    font-size: 30px;
    font-family: "Pacifico", cursive;
    height: 50px;
    margin-top: 10px !important;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
  }